*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

header{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../new.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
}

.header1{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../3.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
}

.header2{
  background-image:-webkit-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../5.jpg);
  background-image:-o-linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../5.jpg);
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../5.jpg);
  height:auto;
  background-size: cover;
  background-position: center;
}

.header3{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)), url(../4.jpg);
  height:100vh;
  background-size: cover;
  background-position: center;
}

ul{
  margin-left: 16%;
  list-style-type: none;
  margin-top: 0px;
  font-size: 30px;
}

.uli{
  margin-left: 26%;
  list-style-type: none;
  margin-top: 0px;
  font-size: 28px;
}

.ulili{
  margin-left: 26%;
  list-style-type: none;
  margin-top: 0px;
  font-size: 28px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration:none;
  color: #fff;
  padding: 8px 50px;
  border: 1px solid #fff;
  transition: 0.3s ease;
}

.uli li a{
  text-decoration: none;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

ul li.active a{
  background-color: #fff;
  color: #000;
}

.logo img{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 300px;
  height: 300px;
}

.main{
  max-width: 1200px;
  margin:auto;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
}


.button{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.btn{
  border: 1px solid #fff;
  padding: 10px 30px;
  color: #fff;
  text-decoration: none;
  transition: 0.3s ease;
}

.btn:hover{
  background-color: #fff;
  color: #000;
}

.boody{
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #fff;
}

#aboutme h2
.img-wrap{
  width: 100%;
}

.img-wrap img{
  width: 100%;
  padding: 10px;
  box-shadow: 0 0 5px #fff;
}

.hubby{
  margin-left: 29%;
  list-style-type: none;
  margin-top: 0px;
  font-size: 30px;
}
